.invisible{
    visibility: hidden;
}

.hide{
    display: none;
}

.hide-xs{    
    @media screen and (max-width: $breakpoint-sm){
        display: none;
    }
}

.hide-sm{    
    @media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md){
        display: none;
    }
}

.hide-md{    
    @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg){
        display: none;
    }
}

.hide-lg{    
    @media screen and (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl){
        display: none;
    }
}

.hide-xl{    
    @media screen and (min-width: $breakpoint-xl){
        display: none;
    }
}