.checkLogo {
  margin-top: 5px;
  margin-right: 15px;
  cursor: pointer;
}

.form-control-tg {
  display: inline-block !important;
  width: 90% !important;
}

.crossed-text {
  text-decoration: line-through;
}

.doneBtn {
  color: #f9f643;
}

.checkBtn {
  color: #37d66f;
}

.delBtn {
  color: #ea432a;
}
