input, textarea {
    outline: none;
    border: 0;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #fff;
    width: auto;
    border-radius: 3px;
    font-size-adjust: 0.5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit    ;
    color: $global-color;
    @include placeholder() {
        font-weight: 300;
        font-family: $font-primary;
        color: #a1a1a1;
        font-size: 15px;
    }
}
