select{
    outline: none;
    border: 0;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #fff;
    // color: $color-secundary-black-ligth;
    border-radius: 3px;
    font-size-adjust: 0.5;
}
