$global-namespace: vet;

$main-sidebar-width: 220px;
$main-sidebar-width--docked: 70px;
$main-sidebar-dock-transition: all .3s ease-in-out;
$main-sidebar__menu__icons-size--docked: 18px;

$header-color: #999c9e;
$header-bk-color: #FFFFFF;


$footer-bk-color: #FFFFFF;